#Trần Hoàn Đức Duy - 19521434

#Bước 0: Liệt kê các parameters của SVM

* kernel
* degree
* gamma
* coef0
* shrinking
* probability
* tol 
* cache_size
* class_weight
* max_iter

#Bước 1: Chia dataset thành train:test 
Không chia tập val vì hàm gridsearch tự động sử dụng kfold với tập train

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
ds = pd.read_csv('/content/drive/MyDrive/Programming/Python for machine learning/data/Social_Network_Ads.csv')
ds.tail()

     Age  EstimatedSalary  Purchased
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

In [ ]:
X, y = ds.iloc[:,:-1],ds.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.15,random_state = 1)

#Bước 2: Chuẩn hóa dữ liệu

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
scaler = scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

#Bước 3: GridSearch

In [ ]:
from sklearn.model_selection import GridSearchCV  
from sklearn.svm import SVC

In [ ]:
parameters = {'kernel':('linear', 'rbf', 'poly','sigmoid'), 'C':[1, 10],'degree': [1,2,3,4],'gamma':('scale','auto')}
Gs = GridSearchCV(estimator=SVC(), param_grid=parameters)

In [ ]:
Gs.fit(X_train,y_train)

GridSearchCV(estimator=SVC(),
             param_grid={'C': [1, 10], 'degree': [1, 2, 3, 4],
                         'gamma': ('scale', 'auto'),
                         'kernel': ('linear', 'rbf', 'poly', 'sigmoid')})

In [ ]:
result = pd.DataFrame(Gs.cv_results_)
result.tail()

    mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
59       0.003003      0.000292  ...        0.023529               49
60       0.003031      0.000236  ...        0.035538               33
61       0.002552      0.000129  ...        0.043026                9
62       0.009666      0.001169  ...        0.044019               47
63       0.002982      0.000264  ...        0.023529               49

[5 rows x 17 columns]

In [ ]:
result.loc[result['rank_test_score'].idxmin()]

mean_fit_time                                               0.00303831
std_fit_time                                               0.000856156
mean_score_time                                             0.00110497
std_score_time                                             0.000137568
param_C                                                              1
param_degree                                                         1
param_gamma                                                      scale
param_kernel                                                       rbf
params               {'C': 1, 'degree': 1, 'gamma': 'scale', 'kerne...
split0_test_score                                             0.852941
split1_test_score                                             0.882353
split2_test_score                                             0.941176
split3_test_score                                             0.985294
split4_test_score                                             0.926471
mean_test_score                                               0.917647
std_test_score                                               0.0461306
rank_test_score                                                      1
Name: 1, dtype: object

In [ ]:
print('Best parameters: ',result.loc[result['rank_test_score'].idxmin()]['params'])

Best parameters:  {'C': 1, 'degree': 1, 'gamma': 'scale', 'kernel': 'rbf'}

#Bước 4: Build and evaluation

In [ ]:
print('Score on test set: ',Gs.score(X_test,y_test))

Score on test set:  0.8666666666666667