Trần Hoàn Đức Duy - 19521434

#Import packages

In [1]:
%cd /content/drive/MyDrive/Programming/Python for machine learning

/content/drive/MyDrive/Programming/Python for machine learning

In [25]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

#1. Read data

In [16]:
ds = pd.read_csv('data/Wine.csv')
ds

     Alcohol  Malic_Acid   Ash  ...  OD280  Proline  Customer_Segment
0      14.23        1.71  2.43  ...   3.92     1065                 1
1      13.20        1.78  2.14  ...   3.40     1050                 1
2      13.16        2.36  2.67  ...   3.17     1185                 1
3      14.37        1.95  2.50  ...   3.45     1480                 1
4      13.24        2.59  2.87  ...   2.93      735                 1
..       ...         ...   ...  ...    ...      ...               ...
173    13.71        5.65  2.45  ...   1.74      740                 3
174    13.40        3.91  2.48  ...   1.56      750                 3
175    13.27        4.28  2.26  ...   1.56      835                 3
176    13.17        2.59  2.37  ...   1.62      840                 3
177    14.13        4.10  2.74  ...   1.60      560                 3

[178 rows x 14 columns]

In [22]:
X = ds.iloc[:,:13]
y = ds.iloc[:,-1]
X.shape,y.shape

((178, 13), (178,))

#2. Data preprocessing

In [23]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

array([[ 1.51861254, -0.5622498 ,  0.23205254, -1.16959318,  1.91390522,
         0.80899739,  1.03481896, -0.65956311,  1.22488398,  0.25171685,
         0.36217728,  1.84791957,  1.01300893],
       [ 0.24628963, -0.49941338, -0.82799632, -2.49084714,  0.01814502,
         0.56864766,  0.73362894, -0.82071924, -0.54472099, -0.29332133,
         0.40605066,  1.1134493 ,  0.96524152],
       [ 0.19687903,  0.02123125,  1.10933436, -0.2687382 ,  0.08835836,
         0.80899739,  1.21553297, -0.49840699,  2.13596773,  0.26901965,
         0.31830389,  0.78858745,  1.39514818]])

#3. Decomposition

In [24]:
pca = PCA(n_components=2)
X_decomposed = pca.fit_transform(X_scaled)
X_decomposed[:3]

array([[ 3.31675081, -1.44346263],
       [ 2.20946492,  0.33339289],
       [ 2.51674015, -1.0311513 ]])

#4. Split train test

In [26]:
X_train, X_val, y_train, y_val = train_test_split(X_decomposed,y,test_size = 0.2,random_state=1)
y_train.shape, y_val.shape

((142,), (36,))

#5. Classifier

In [36]:
model = LogisticRegression().fit(X_train,y_train)
model.score(X_train,y_train)

0.9647887323943662

#6. Evaluation

In [37]:
pred = model.predict(X_val)
print(f'prediction:  {pred}')
pred_score = accuracy_score(y_val,pred)
print('predicted score: ',pred_score)

prediction:  [3 2 1 2 1 3 2 1 3 2 1 1 2 1 2 2 3 1 2 1 1 2 3 1 1 3 1 1 1 3 2 3 3 1 2 2]
predicted score:  0.9722222222222222

#7. K fold cross validation

In [43]:
from sklearn.model_selection import KFold
import numpy as np

In [52]:
kf = KFold(n_splits=5)
scores = []
for train_index, val_index in kf.split(X):
  X_train, X_val = X_decomposed[train_index], X_decomposed[val_index]
  y_train, y_val = y[train_index], y[val_index]
  pred = model.predict(X_val)
  print(f'prediction:  {pred}')
  pred_score = accuracy_score(y_val,pred)
  print('predicted score: ',pred_score)
  scores.append(pred_score)

print(f'\naverage score: {np.mean(scores)}')

prediction:  [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
predicted score:  1.0
prediction:  [1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2]
predicted score:  0.9722222222222222
prediction:  [2 1 2 2 2 2 2 2 2 2 2 3 2 2 2 2 2 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2]
predicted score:  0.9166666666666666
prediction:  [2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2 3 3 3 3 2 3 3 3 3 3 3 3 3]
predicted score:  0.9428571428571428
prediction:  [3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3]
predicted score:  1.0

average score: 0.9663492063492063